@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
// user-select: none
$primary: rgba(255, 23, 27, 1)
$primary-hover: rgba(255, 23, 27, 0.3)
$green: #0ed105
$button_bg: rgba(255, 255, 255, 0.1)
$intro_bg: #0c0201

$loader-color: #ffffff
$loader-size: 10vh

*
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none

ul li
    list-style-type: none

body
    background: transparent
    font-family: 'Poppins', sans-serif
    overflow: hidden
    
    &.single
        overflow: hidden

.hide
    display: none


main
    background: transparent
    position: relative
    width: 100vw
    height: 100vh
    overflow: hidden

.scene
    position: fixed
    width: 100vw
    height: 100vh

// scene intro
.scene-intro
    background: transparent // rgba(0, 0, 0, 0.1)
    opacity: 1
    position: absolute
    left: 0
    top: 0
    z-index: 1000
    width: 100vw
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    
    .left
        position: absolute
        left: 0
        background: $intro_bg
        color: white
        width: 50vw
        height: 100vh
        padding: 40px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        transition: .3s width ease-in-out
        
        .top
            span
                font-weight: 600
                font-size: 20px
                color: white

        .middle
            position: relative
            left: 20px
            top: -80px
            .dets
                width: 80%
                h1
                    font: 800 normal 34px 'Poppins', sans-serif
                    margin-bottom: 5px
                    span
                        color: $primary
                h6
                    font: 300 normal 14px 'Poppins', sans-serif
                    opacity: .8
                    margin-bottom: 20px
                p
                    font: 400 normal 14px 'Poppins', sans-serif
                    opacity: .9
                    margin-bottom: 35px            

            .line
                position: absolute
                left: -20px
                top: -15px
                width: 1px
                height: 260px
                background: white

        .bottom
            .socials
                display: inline-flex
                .btn-social
                    background: transparent
                    border: 1px solid white
                    color: white
                    padding: 5px 9px
                    margin-right: 20px
                    border-radius: 50%
                    transition: .3s background ease-in-out

                    &:hover
                        background: $primary-hover
            footer
                position: absolute
                bottom: 5px
                span
                    font-size: 10px !important
                    font-style: italic !important

    .right
        position: absolute
        right: 20%
        #explore
            position: relative
            padding: 36px 45px
            font-size: 30px
            border-radius: 50%
            opacity: 1

            span
                z-index: -1
                position: absolute
                height: 150px
                width: 120px
                border: solid 5px $primary
                border-color: $primary transparent transparent transparent
                border-radius: 100%/100px 100px 0 0px

            span
                transition: .3s all ease-in-out
                &#first
                    top: -13px
                    left: -3px
                
                &#second
                    bottom: -12px
                    left: -4px
                    transform: rotate(180deg)
            &:hover
                color: white
                background: $primary-hover
                transform: scale(1.1) !important
                span
                    &#first
                        transform: translate(-3px, -6px) rotate(90deg)
                    &#second
                        transform: translate(6px, 5px) rotate(-90deg)

// stage intros
.stage-intro
    font-family: 'Poppins', sans-serif

    &>article
        letter-spacing: 1px
        word-spacing: 2px
        line-height: 2rem
        height: 100vh
        display: flex
        flex-direction: column
        justify-content: start

        transform: translateX(-5%)
        //disable to prevent movement
        display: none 

    h1, p, small
        opacity: 0
        display: none
    
    h1
        font-size: 40px
        color: white
        opacity: .8
        font-weight: 900
        margin-bottom: 20px

    .stage-1
        position: absolute
        top: 25%
        padding-left: 50px
        width: 43vw

    .stage-2
        position: absolute
        top: 20%
        right: 0
        padding-right: 50px
        width: 43vw

    p
        color: white
        font-size: 15px
        font-weight: 400
    
    small
        margin-top: 10px
        font-size: 10px
        color: white

    a 
        font-weight: 600
        color: white
    
    // stage helpers
    .helper-element
        position: relative
        left: 5%
        width: fit-content
        font-family: 'Poppins', sans-serif
        font-weight: 400
        background: transparent
        color: white
        border-left: 4px solid white
        padding: 10px 15px
        transform: translateX(-5%)
        margin-top: 40px

        .helper-details
            position: relative
            z-index: 100
            display: flex
            flex-direction: column

            h1
                font-size: 18px
                margin-bottom: 5px
            p
                font-size: 15px
                margin-bottom: -15px
            
            small
                font-size: 12px

            p, small
                margin-left: 10px

        &:after
            position: absolute
            z-index: 1
            left: 0
            bottom: 0
            background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 100%)
            content: ''
            height: 100%
            width: 100%
            opacity: 0.32
            transform: rotate(180deg)

// btn & controls
.exit_control
    position: absolute
    top: 20px
    left: 20px

.btn-wrap
    position: absolute
    bottom: 20px
    right: 20px
    z-index: 100
    display: flex
    align-items: flex-start
    justify-content: flex-start

    &.start
        top: 60%
        left: 5%
        right: unset
        bottom: unset
        display: none
        opacity: 0

    &.end
        top: 50%
        right: 5%
        transform: translateY(-50%)
        opacity: 1

    &.center
        right: unset

    &#tv_contrls.center>div
        transform: translateY(150px)
        opacity: 0

.btn-set
    font-size: 16px
    width: 35px
    height: 35px
    padding: 4px 9px
    margin-right: 20px
    background: transparent
    border: 1px solid white
    border-radius: 50%
    color: white
    cursor: pointer
    transition: .3s color ease-in-out, .3s background ease-in-out, .3s transform ease-in-out, .3s border ease-in-out

    &#exit
        background: $primary !important
        border-color: $primary !important
        &:hover
            background: $primary-hover !important
    &#reset 
        margin-right: 0 !important
    &#reset:hover
        background: $primary-hover !important

    &#back
        background: $primary !important
        border-color: $primary !important
        opacity: 0
        display: none
        &:hover
            background: $primary-hover !important
            color: white

    &.disabled
        background: $primary !important
        border-color: $primary !important

    &:not(.disabled):hover
        background: $primary-hover
        color: white
    
    &:last-child
        marigin-right: 0

    &.load i
        animation: loadAnimation .3s linear infinite

    &.active, &.expand
        background: $primary !important
        border: 1px solid $primary !important
        color: white

.wrap_center
    display: flex
    align-items: center
    justify-content: center
    width: 100%

#tv_contrls
    background: $button_bg
    padding: 15px 25px
    border-radius: 20px
    display: none
    opacity: 0
    transform: translateY(20%)
    transition: .3s all ease-in-out
    
    .btn-set:hover
        background: $primary-hover !important

    .btn-set:nth-child(1)
        padding: 5px 10px

    .btn-set:nth-child(2)
        padding: 4px 12px

    .btn-set:nth-child(3)
        padding: 4px 9.5px
        margin-right: 0

@keyframes loadAnimation 
    0% 
        transform: rotate(-90deg)
        transition: .4s all ease-in-out
    
    100%
        transform: rotate(90deg)
        transition: .1s all ease-in-out

video
    position: fixed
    max-width: 100%
    height: auto

.d_none
    dislpay: none
    visibility: hidden

// stage changer
@keyframes pulse
    0%
        opacity: 0
        background-position: center top
        background-size: 0 auto
    
    10% 
        opacity: 0
    
    50% 
        opacity: 1
        background-size: 75% auto
    
    90% 
        opacity: 0
    
    100% 
        opacity: 0
        background-position: center bottom
        background-size: 0 auto

.scroll-down
    cursor: pointer
    margin: 0
    border: 1px solid #fff
    border-radius: 100px
    width: 80px
    height: 100px
    transition: .3s background ease-in-out

    &.reverse
        transform: rotate(180deg)
    
    &:hover
        background: rgba(255, 255, 255, 0.1)
        color: black
    a 
        display: block
        opacity: 0
        border-radius: 100px
        transition: all 1s ease
        line-height: 0
        font-size: 0
        color: transparent
        margin-left: auto
        margin-right: auto
        width: 100%
        height: 100%
        background-size: 0 auto
        animation: pulse 1.5s 0s infinite normal ease forwards
        background-image: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg")
        background-repeat: no-repeat

        &:before, &:after 
            content: " "
            position: absolute
            top: 0
            left: 0
            display: block
            width: 100%
            height: 100%
            background: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg") no-repeat center top
            background-size: 100% auto

        &:before 
            animation: pulse 1.5s 0.25s infinite normal ease forwards

        &:after 
            animation: pulse 1.5s 0.5s infinite normal ease forwards

        &:hover 
            background-color: $primary-hover

// btn
.btn_primary
    cursor: pointer
    font-size: 14px
    background: $primary
    color: white
    border: 1px solid $primary
    border-radius: 25px
    padding: 10px 15px
    transition: .3s color ease-in-out, .3s background ease-in-out, .3s border ease-in-out, .3s transform ease-in-out
    &:hover
        color: white
        background: $primary-hover
        border: 1px solid $primary

// loader
#loader
    .load-clip
        position: absolute
        top: 0
        left: 0
        z-index: 1000000
        width: 0
        height: 100vh
        background: $primary

    .loader
        display: flex
        justify-content: center
        align-items: center
        position: fixed
        z-index: 100000
        width: 100vw
        height: 100vh
        top: 0
        left: 0
        color: $loader-color
        background: $intro_bg
        
        font-family: 'Poppins', sans-serif
        font-weight: bold
        font-size: $loader-size
        
        h1
            transform: translateY(-5px)

        span 
            font-size: $loader-size
            display: inline-block
            animation: pulseLoad 0.4s alternate infinite ease-in-out

            &:nth-child(odd) 
                transform: translateX(-50px)
                animation-delay: 0.4s
            &:nth-child(even) 
                transform: translateX(50px)

@keyframes pulseLoad
    to 
        transform: scale(1.5)
        opacity: 0.5

// waves
.waves 
    display: initial
    position: absolute
    top: 0
    left: 50px
    width: 100vw
    height: 25vh
    min-height: 100px
    max-height: 150px
    transform: rotate(90deg)

    /* Animation */
    .parallax > use 
        animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite

    .parallax > use:nth-child(1) 
        animation-delay: -2s
        animation-duration: 7s

    .parallax > use:nth-child(2) 
        animation-delay: -3s
        animation-duration: 10s

    .parallax > use:nth-child(3) 
        animation-delay: -4s
        animation-duration: 13s

    .parallax > use:nth-child(4) 
        animation-delay: -5s
        animation-duration: 20s

@keyframes move-forever 
    0% 
        transform: translate3d(-90px, 0, 0)
    
    100% 
        transform: translate3d(85px, 0, 0)

@media only screen and (max-width: 1200px) 
    .waves
        display: none

// media queries

// Extra large devices 
@media only screen and (max-width: 1200px) 
    .stage-intro
        .stage-1
            top: 20% !important
        .stage-2
            top: 15% !important

        .stage-1, .stage2
            width: 43vw !important

        h1
            font-size: 36px !important
        p
            font-size: 14px !important

        .helper-element
            h1
                font-size: 16px !important
            p
                font-size: 14px !important
                margin-bottom: -15px !important
            small
                font-size: 11px !important
            
            p, small
                margin-left: 5px !important

// Large devices 
@media only screen and (max-width: 1100px) 
    .stage-intro
        .stage-1
            top: 20% !important
        .stage-2
            top: 15% !important
        
        .stage-1, .stage2
            width: 43vw !important

        h1
            font-size: 30px !important
        p
            font-size: 12px !important
            letter-spacing: 0 !important

        .helper-element
            h1
                font-size: 14px !important
            p
                font-size: 12px !important
            small
                font-size: 10px !important
            
            p, small
                margin-left: 5px !important

    .scene-intro
        .left
            width: 50%
            .top
                margin-bottom: 50px !important
            
            .middle
                h1
                    font-size: 32px !important
                h6
                    font-size: 13px !important
                p
                    font-size: 13px !important
                .line
                    height: 280px !important // implement in js too

// Medium devices
@media only screen and (max-width: 992px) 
    .stage-intro
        article
            line-height: 25px !important
            width: 50vw !important

        .stage-1, .stage2
            width: 43vw !important

        .stage-1
            top: 20% !important
        
        .stage-1 
            padding-left: 20px !important
        .stage-2
            padding-right: 20px !important

        h1
            font-size: 28px !important
        p
            font-size: 12px !important
            letter-spacing: 0 !important

        .helper-element
            line-height: 30px !important
            h1
                font-size: 14px !important
            p
                font-size: 12px !important
            small
                font-size: 10px !important
            
            p, small
                margin-left: 5px  !important

    .scene-intro
        .left
            width: 70%
            .top
                margin-bottom: 40px !important
            
            .middle
                h1
                    font-size: 30px !important
                h6
                    font-size: 12px !important
                p
                    font-size: 12px !important
                .line
                    height: 270px !important // implement in js too

// Small devices
@media only screen and (max-width: 768px)
    .stage-intro
        article
            line-height: 25px !important
            width: 50vw !important

        .stage-1
            top: 15% !important

        .stage-1 
            padding-left: 20px !important
        .stage-2
            padding-right: 20px !important

        h1
            font-size: 26px !important
        p
            font-size: 11px !important
            letter-spacing: 0 !important
            margin-bottom: 10px !important

        .helper-element
            line-height: 26px !important
            h1
                font-size: 13px !important
            p
                font-size: 11px !important
            small
                font-size: 10px !important
            
            p, small
                margin-left: 5px !important

    .scene-intro
        .left
            width: 70% !important
            .top
                margin-bottom: 40px !important
            
            .middle
                h1
                    font-size: 28px !important
                h6
                    font-size: 12px !important
                p
                    font-size: 12px !important
                .line
                    height: 270px !important // implement in js too

// Extra small devices
@media only screen and (max-width: 670px) 
    .stage-intro
        article
            line-height: 23px !important
            width: 50vw !important

        .stage-1, .stage-2
            top: 15% !important

        .stage-1 
            padding-left: 20px !important
        .stage-2
            padding-right: 20px !important

        h1
            font-size: 20px !important
        p
            font-size: 10px !important
            letter-spacing: 0 !important
            margin-bottom: 10px !important
        small 
            font-size: 9px !important

        .helper-element
            line-height: 20px !important
            h1
                font-size: 12px !important
            p
                font-size: 10px !important
            small
                font-size: 9px !important
            
            p, small
                margin-left: 5px !important

    .scene-intro
        .left
            width: 90% !important
            .top
                margin-bottom: 40px !important
            
            .middle
                h1
                    font-size: 28px !important
                h6
                    font-size: 12px !important
                p
                    font-size: 12px !important
                .line
                    height: 270px !important // implement in js too

        .right
            right: 20px !important
            bottom: 20px !important
            #explore
                padding: 12px 20px !important
                font-size: 26px !important
                border-radius: 50% !important
                span
                    width: 80px !important
                    border-radius: 100%/75px 75px 0 0px !important
                    &#first 
                        top: -13px !important
                        left: -8px !important
                    &#second 
                        bottom: -13px !important
                        left: -8px !important
                &:hover span#first
                    transform: translate(-32px, -31px) rotate(90deg) !important
                &:hover span#second
                    transform: translate(30px, 30px) rotate(-90deg) !important

// Extra small devices - fixes
@media only screen and (max-width: 500px)
    .scene-intro
        .left
            .top
                margin-bottom: 40px !important
            
            .middle
                h1
                    font-size: 26px !important
                h6
                    font-size: 11px !important
                p
                    font-size: 11px !important
                .line
                    height: 300px !important // implement in js too


@media only screen and (max-width: 500px)
    .stage-intro .stage>h1,
    .stage-intro .stage>p,
    .stage-intro .stage>small
        display: none
        visibility: hidden
        opacity: 0

    .stage-intro .stage .helper-element
        position: absolute
        bottom: 18%
        left: 30px !important

    .stage
        position: absolute
        top: 25% !important
        padding-left: 0px !important
        width: 100% !important

        .helper-element
            width: 80vw !important
            &>*
                width: 100% !important

    .stage-1 .helper-element
        padding: 10px 0px !important

    .stage-2
        left: 0% !important;
        & .helper-element
            padding: 10px 20px !important
            border-left: 4px solid $primary

            .helper-details>*
                color: black
        
        & .helper-element:after 
            position: absolute
            z-index: 1
            left: 0
            bottom: 0
            content: ''
            height: 100%
            width: 100%
            opacity: 0.32
            transform: rotate(180deg)
            background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, $primary 100%) !important