@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

body {
  background: transparent;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body.single {
  overflow: hidden;
}

main {
  background: transparent;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scene {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.scene-intro {
  background: transparent;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scene-intro .left {
  position: absolute;
  left: 0;
  background: #0c0201;
  color: white;
  width: 50vw;
  height: 100vh;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .3s width ease-in-out;
  transition: .3s width ease-in-out;
}

.scene-intro .left .top span {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.scene-intro .left .middle {
  position: relative;
  left: 20px;
  top: -80px;
}

.scene-intro .left .middle .dets {
  width: 80%;
}

.scene-intro .left .middle .dets h1 {
  font: 800 normal 34px 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.scene-intro .left .middle .dets h1 span {
  color: #ff171b;
}

.scene-intro .left .middle .dets h6 {
  font: 300 normal 14px 'Poppins', sans-serif;
  opacity: .8;
  margin-bottom: 20px;
}

.scene-intro .left .middle .dets p {
  font: 400 normal 14px 'Poppins', sans-serif;
  opacity: .9;
  margin-bottom: 35px;
}

.scene-intro .left .middle .line {
  position: absolute;
  left: -20px;
  top: -15px;
  width: 1px;
  height: 260px;
  background: white;
}

.scene-intro .left .bottom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.scene-intro .left .bottom .btn-social {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 9px;
  margin-right: 20px;
  border-radius: 50%;
  -webkit-transition: .3s background ease-in-out;
  transition: .3s background ease-in-out;
}

.scene-intro .left .bottom .btn-social:hover {
  background: rgba(255, 23, 27, 0.3);
}

.scene-intro .right {
  position: absolute;
  right: 20%;
}

.scene-intro .right #explore {
  position: relative;
  padding: 36px 45px;
  font-size: 30px;
  border-radius: 50%;
  opacity: 1;
}

.scene-intro .right #explore span {
  z-index: -1;
  position: absolute;
  height: 150px;
  width: 120px;
  border: solid 5px #ff171b;
  border-color: #ff171b transparent transparent transparent;
  border-radius: 100%/100px 100px 0 0px;
}

.scene-intro .right #explore span {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.scene-intro .right #explore span#first {
  top: -13px;
  left: -3px;
}

.scene-intro .right #explore span#second {
  bottom: -12px;
  left: -4px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scene-intro .right #explore:hover {
  color: white;
  background: rgba(255, 23, 27, 0.3);
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}

.scene-intro .right #explore:hover span#first {
  -webkit-transform: translate(-3px, -6px) rotate(90deg);
          transform: translate(-3px, -6px) rotate(90deg);
}

.scene-intro .right #explore:hover span#second {
  -webkit-transform: translate(6px, 5px) rotate(-90deg);
          transform: translate(6px, 5px) rotate(-90deg);
}

.stage-intro {
  font-family: 'Poppins', sans-serif;
}

.stage-intro > article {
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 2rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  display: none;
}

.stage-intro h1, .stage-intro p, .stage-intro small {
  opacity: 0;
  display: none;
}

.stage-intro h1 {
  font-size: 40px;
  color: white;
  opacity: .8;
  font-weight: 900;
  margin-bottom: 20px;
}

.stage-intro .stage-1 {
  position: absolute;
  top: 25%;
  padding-left: 50px;
  width: 43vw;
}

.stage-intro .stage-2 {
  position: absolute;
  top: 20%;
  right: 0;
  padding-right: 50px;
  width: 43vw;
}

.stage-intro p {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.stage-intro small {
  margin-top: 10px;
  font-size: 10px;
  color: white;
}

.stage-intro a {
  font-weight: 600;
  color: white;
}

.stage-intro .helper-element {
  position: relative;
  left: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: transparent;
  color: white;
  border-left: 4px solid white;
  padding: 10px 15px;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  margin-top: 40px;
}

.stage-intro .helper-element .helper-details {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stage-intro .helper-element .helper-details h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.stage-intro .helper-element .helper-details p {
  font-size: 15px;
  margin-bottom: -15px;
}

.stage-intro .helper-element .helper-details small {
  font-size: 12px;
}

.stage-intro .helper-element .helper-details p, .stage-intro .helper-element .helper-details small {
  margin-left: 10px;
}

.stage-intro .helper-element:after {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, white 100%);
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0.32;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.exit_control {
  position: absolute;
  top: 20px;
  left: 20px;
}

.btn-wrap {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-wrap.start {
  top: 60%;
  left: 5%;
  right: unset;
  bottom: unset;
  display: none;
  opacity: 0;
}

.btn-wrap.end {
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
}

.btn-wrap.center {
  right: unset;
}

.btn-wrap#tv_contrls.center > div {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
}

.btn-set {
  font-size: 16px;
  width: 35px;
  height: 35px;
  padding: 4px 9px;
  margin-right: 20px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  -webkit-transition: .3s color ease-in-out, .3s background ease-in-out, .3s transform ease-in-out, .3s border ease-in-out;
  transition: .3s color ease-in-out, .3s background ease-in-out, .3s transform ease-in-out, .3s border ease-in-out;
}

.btn-set#tv_view {
  padding: 4px 6.5px;
}

.btn-set#exit {
  background: #ff171b !important;
  border-color: #ff171b !important;
}

.btn-set#exit:hover {
  background: rgba(255, 23, 27, 0.3) !important;
}

.btn-set#reset {
  margin-right: 0 !important;
}

.btn-set#reset:hover {
  background: rgba(255, 23, 27, 0.3) !important;
}

.btn-set#back {
  background: #ff171b !important;
  border-color: #ff171b !important;
  opacity: 0;
  display: none;
}

.btn-set#back:hover {
  background: rgba(255, 23, 27, 0.3) !important;
  color: white;
}

.btn-set.disabled {
  background: #ff171b !important;
  border-color: #ff171b !important;
}

.btn-set:not(.disabled):hover {
  background: rgba(255, 23, 27, 0.3);
  color: white;
}

.btn-set:last-child {
  marigin-right: 0;
}

.btn-set.load i {
  -webkit-animation: loadAnimation .3s linear infinite;
          animation: loadAnimation .3s linear infinite;
}

.btn-set.active, .btn-set.expand {
  background: #ff171b !important;
  border: 1px solid #ff171b !important;
  color: white;
}

.wrap_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#tv_contrls {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
  border-radius: 20px;
  display: none;
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

#tv_contrls .btn-set:hover {
  background: rgba(255, 23, 27, 0.3) !important;
}

#tv_contrls .btn-set:nth-child(1) {
  padding: 5px 10px;
}

#tv_contrls .btn-set:nth-child(2) {
  padding: 4px 12px;
}

#tv_contrls .btn-set:nth-child(3) {
  padding: 4px 9.5px;
  margin-right: 0;
}

@-webkit-keyframes loadAnimation {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
  }
}

@keyframes loadAnimation {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
  }
}

video {
  position: fixed;
  max-width: 100%;
  height: auto;
}

.d_none {
  dislpay: none;
  visibility: hidden;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    background-size: 0 auto;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    background-position: center top;
    background-size: 0 auto;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-size: 75% auto;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background-position: center bottom;
    background-size: 0 auto;
  }
}

.scroll-down {
  cursor: pointer;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 80px;
  height: 100px;
  -webkit-transition: .3s background ease-in-out;
  transition: .3s background ease-in-out;
}

.scroll-down.reverse {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.scroll-down:hover {
  background: rgba(255, 255, 255, 0.1);
  color: black;
}

.scroll-down a {
  display: block;
  opacity: 0;
  border-radius: 100px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-size: 0 auto;
  -webkit-animation: pulse 1.5s 0s infinite normal ease forwards;
          animation: pulse 1.5s 0s infinite normal ease forwards;
  background-image: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg");
  background-repeat: no-repeat;
}

.scroll-down a:before, .scroll-down a:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://jamesmuspratt.com/codepen/img/arrow-down.svg") no-repeat center top;
  background-size: 100% auto;
}

.scroll-down a:before {
  -webkit-animation: pulse 1.5s 0.25s infinite normal ease forwards;
          animation: pulse 1.5s 0.25s infinite normal ease forwards;
}

.scroll-down a:after {
  -webkit-animation: pulse 1.5s 0.5s infinite normal ease forwards;
          animation: pulse 1.5s 0.5s infinite normal ease forwards;
}

.scroll-down a:hover {
  background-color: rgba(255, 23, 27, 0.3);
}

.custom-shape-divider-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(-90deg) translateY(100%);
          transform: rotate(-90deg) translateY(100%);
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 150px);
  height: 143px;
}

.custom-shape-divider-top .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top .shape-fill:nth-child(3) {
  fill: #0c0201;
}

.btn_primary {
  cursor: pointer;
  font-size: 14px;
  background: #ff171b;
  color: white;
  border: 1px solid #ff171b;
  border-radius: 25px;
  padding: 10px 15px;
  -webkit-transition: .3s color ease-in-out, .3s background ease-in-out, .3s border ease-in-out, .3s transform ease-in-out;
  transition: .3s color ease-in-out, .3s background ease-in-out, .3s border ease-in-out, .3s transform ease-in-out;
}

.btn_primary:hover {
  color: white;
  background: rgba(255, 23, 27, 0.3);
  border: 1px solid #ff171b;
}

#loader .load-clip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
  width: 0;
  height: 100vh;
  background: #ff171b;
}

#loader .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  color: #ffffff;
  background: #0c0201;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 10vh;
}

#loader .loader h1 {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#loader .loader span {
  font-size: 10vh;
  display: inline-block;
  -webkit-animation: pulseLoad 0.4s alternate infinite ease-in-out;
          animation: pulseLoad 0.4s alternate infinite ease-in-out;
}

#loader .loader span:nth-child(odd) {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#loader .loader span:nth-child(even) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

@-webkit-keyframes pulseLoad {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.5;
  }
}

@keyframes pulseLoad {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1200px) {
  .stage-intro .stage-1 {
    top: 20% !important;
  }
  .stage-intro .stage-2 {
    top: 15% !important;
  }
  .stage-intro .stage-1, .stage-intro .stage2 {
    width: 43vw !important;
  }
  .stage-intro h1 {
    font-size: 36px !important;
  }
  .stage-intro p {
    font-size: 14px !important;
  }
  .stage-intro .helper-element h1 {
    font-size: 16px !important;
  }
  .stage-intro .helper-element p {
    font-size: 14px !important;
    margin-bottom: -15px !important;
  }
  .stage-intro .helper-element small {
    font-size: 11px !important;
  }
  .stage-intro .helper-element p, .stage-intro .helper-element small {
    margin-left: 5px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .stage-intro .stage-1 {
    top: 20% !important;
  }
  .stage-intro .stage-2 {
    top: 15% !important;
  }
  .stage-intro .stage-1, .stage-intro .stage2 {
    width: 43vw !important;
  }
  .stage-intro h1 {
    font-size: 30px !important;
  }
  .stage-intro p {
    font-size: 12px !important;
    letter-spacing: 0 !important;
  }
  .stage-intro .helper-element h1 {
    font-size: 14px !important;
  }
  .stage-intro .helper-element p {
    font-size: 12px !important;
  }
  .stage-intro .helper-element small {
    font-size: 10px !important;
  }
  .stage-intro .helper-element p, .stage-intro .helper-element small {
    margin-left: 5px !important;
  }
  .scene-intro .left {
    width: 50%;
  }
  .scene-intro .left .top {
    margin-bottom: 50px !important;
  }
  .scene-intro .left .middle h1 {
    font-size: 32px !important;
  }
  .scene-intro .left .middle h6 {
    font-size: 13px !important;
  }
  .scene-intro .left .middle p {
    font-size: 13px !important;
  }
  .scene-intro .left .middle .line {
    height: 280px !important;
  }
}

@media only screen and (max-width: 992px) {
  .stage-intro article {
    line-height: 25px !important;
    width: 50vw !important;
  }
  .stage-intro .stage-1, .stage-intro .stage2 {
    width: 43vw !important;
  }
  .stage-intro .stage-1 {
    top: 20% !important;
  }
  .stage-intro .stage-1 {
    padding-left: 20px !important;
  }
  .stage-intro .stage-2 {
    padding-right: 20px !important;
  }
  .stage-intro h1 {
    font-size: 28px !important;
  }
  .stage-intro p {
    font-size: 12px !important;
    letter-spacing: 0 !important;
  }
  .stage-intro .helper-element {
    line-height: 30px !important;
  }
  .stage-intro .helper-element h1 {
    font-size: 14px !important;
  }
  .stage-intro .helper-element p {
    font-size: 12px !important;
  }
  .stage-intro .helper-element small {
    font-size: 10px !important;
  }
  .stage-intro .helper-element p, .stage-intro .helper-element small {
    margin-left: 5px  !important;
  }
  .scene-intro .left {
    width: 70%;
  }
  .scene-intro .left .top {
    margin-bottom: 40px !important;
  }
  .scene-intro .left .middle h1 {
    font-size: 30px !important;
  }
  .scene-intro .left .middle h6 {
    font-size: 12px !important;
  }
  .scene-intro .left .middle p {
    font-size: 12px !important;
  }
  .scene-intro .left .middle .line {
    height: 270px !important;
  }
}

@media only screen and (max-width: 768px) {
  .stage-intro article {
    line-height: 25px !important;
    width: 50vw !important;
  }
  .stage-intro .stage-1 {
    top: 15% !important;
  }
  .stage-intro .stage-1 {
    padding-left: 20px !important;
  }
  .stage-intro .stage-2 {
    padding-right: 20px !important;
  }
  .stage-intro h1 {
    font-size: 26px !important;
  }
  .stage-intro p {
    font-size: 11px !important;
    letter-spacing: 0 !important;
    margin-bottom: 10px !important;
  }
  .stage-intro .helper-element {
    line-height: 26px !important;
  }
  .stage-intro .helper-element h1 {
    font-size: 13px !important;
  }
  .stage-intro .helper-element p {
    font-size: 11px !important;
  }
  .stage-intro .helper-element small {
    font-size: 10px !important;
  }
  .stage-intro .helper-element p, .stage-intro .helper-element small {
    margin-left: 5px !important;
  }
  .scene-intro .left {
    width: 70% !important;
  }
  .scene-intro .left .top {
    margin-bottom: 40px !important;
  }
  .scene-intro .left .middle h1 {
    font-size: 28px !important;
  }
  .scene-intro .left .middle h6 {
    font-size: 12px !important;
  }
  .scene-intro .left .middle p {
    font-size: 12px !important;
  }
  .scene-intro .left .middle .line {
    height: 270px !important;
  }
}

@media only screen and (max-width: 670px) {
  .stage-intro article {
    line-height: 23px !important;
    width: 50vw !important;
  }
  .stage-intro .stage-1, .stage-intro .stage-2 {
    top: 15% !important;
  }
  .stage-intro .stage-1 {
    padding-left: 20px !important;
  }
  .stage-intro .stage-2 {
    padding-right: 20px !important;
  }
  .stage-intro h1 {
    font-size: 20px !important;
  }
  .stage-intro p {
    font-size: 10px !important;
    letter-spacing: 0 !important;
    margin-bottom: 10px !important;
  }
  .stage-intro small {
    font-size: 9px !important;
  }
  .stage-intro .helper-element {
    line-height: 20px !important;
  }
  .stage-intro .helper-element h1 {
    font-size: 12px !important;
  }
  .stage-intro .helper-element p {
    font-size: 10px !important;
  }
  .stage-intro .helper-element small {
    font-size: 9px !important;
  }
  .stage-intro .helper-element p, .stage-intro .helper-element small {
    margin-left: 5px !important;
  }
  .scene-intro .left {
    width: 90% !important;
  }
  .scene-intro .left .top {
    margin-bottom: 40px !important;
  }
  .scene-intro .left .middle h1 {
    font-size: 28px !important;
  }
  .scene-intro .left .middle h6 {
    font-size: 12px !important;
  }
  .scene-intro .left .middle p {
    font-size: 12px !important;
  }
  .scene-intro .left .middle .line {
    height: 270px !important;
  }
  .scene-intro .right {
    right: 20px !important;
    bottom: 20px !important;
  }
  .scene-intro .right #explore {
    padding: 12px 20px !important;
    font-size: 26px !important;
    border-radius: 50% !important;
  }
  .scene-intro .right #explore span {
    width: 80px !important;
    border-radius: 100%/75px 75px 0 0px !important;
  }
  .scene-intro .right #explore span#first {
    top: -13px !important;
    left: -8px !important;
  }
  .scene-intro .right #explore span#second {
    bottom: -13px !important;
    left: -8px !important;
  }
  .scene-intro .right #explore:hover span#first {
    -webkit-transform: translate(-32px, -31px) rotate(90deg) !important;
            transform: translate(-32px, -31px) rotate(90deg) !important;
  }
  .scene-intro .right #explore:hover span#second {
    -webkit-transform: translate(30px, 30px) rotate(-90deg) !important;
            transform: translate(30px, 30px) rotate(-90deg) !important;
  }
}

@media only screen and (max-width: 500px) {
  .scene-intro .left .top {
    margin-bottom: 40px !important;
  }
  .scene-intro .left .middle h1 {
    font-size: 26px !important;
  }
  .scene-intro .left .middle h6 {
    font-size: 11px !important;
  }
  .scene-intro .left .middle p {
    font-size: 11px !important;
  }
  .scene-intro .left .middle .line {
    height: 300px !important;
  }
}
/*# sourceMappingURL=style.css.map */